{% extends 'layout.html' %}
{% set active_page = "historia" %}
{% from 'includes/formhelpers.html'import render_field %}
{% block body %}
    <div class="container">
        <h1>Agregar Historia Clínica</h1>
        <form action="historia" id="textform" method="post">
            Cédula:<br>
            <input type="text" name="cedula"><br>
            Diagnosticos:<br>
            <textarea name="diagnostico"></textarea><br>
            Tratamiento:<br>
            <textarea name="tratamiento"></textarea><br>
            Fecha:<br>
            <input type="date" name="fecha_elaboracion"><br>
            Nombre:<br>
            <input type="text" name="nombre"><br>
            Apellido:<br>
            <input type="text" name="apellido"><br>
            <br>
            <input type="submit" value="Enviar">
        </form>
    </div>
{% endblock %}