{% extends 'layout.html' %}
{% set active_page = "historia" %}
{% from 'includes/formhelpers.html'import render_field %}
{% block body %}
    <div class="container">
        <form action="historia" id="textform" method="post" class="form-horizontal">
            <legend>Agregar Historia Clínica</legend>
            Cédula:<br>
            <input type="text" name="cedula"><br>
            Diagnosticos:<br>
            <textarea name="diagnostico" class="control-label"></textarea><br>
            Tratamiento:<br>
            <textarea name="tratamiento"></textarea><br>
            Fecha:<br>
            <input type="date" name="fecha_elaboracion" value={{ data }}><br>
            Nombre:<br>
            <input type="text" name="nombre"><br>
            Apellido:<br>
            <input type="text" name="apellido"><br>
            <br>
            <select class="form-control" id="select">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
            <input type="submit" value="Enviar">
        </form>
    </div>
{% endblock %}