{% extends 'layout.html' %}
{% set active_page = "mostrar_historias" %}
{% from 'includes/formhelpers.html'import render_field %}
{% block body %}
    <div class="container">
        <h1>Consultar Historias Clínicas</h1>
        <table class="table table-striped">
        {% for t in data %}
            <tr>
            {% for i in t %}
                <td>{{ i }}</td>
            {% endfor %}
                <td>
                    <p>
                        <a href="{{ url_for('eliminar_historias', id=t[0]) }}" class="btn btn-danger">
                            <span class="glyphicon glyphicon-trash"></span>
                        </a>
                    </p>
                </td>
            </tr>
        {% endfor %}
         </table>
    </div>
{% endblock %}